html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkcyan;
  color: lightcyan;
}

/* Header Styles */
header {
  border: solid;
  border-radius: 10px;
  background-color: darkcyan;
  color:lightcyan;
  text-align: center;
  padding: 8px 12px;
}

/* Navigation Styles */

nav#categoryNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: darkcyan;
}

nav#categoryNav .category {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: darkcyan;
  color: lightcyan;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 15px;
  white-space: nowrap;
}

nav#categoryNav #addCategory  {
  color: lightcyan;
  background-color: darkcyan;
  font-weight: bold;
  padding: 8px 16px;
}



/* Container Box Styles */
#theWhole {
  max-width: 350px;
  max-height: 450px;
  margin: 30px auto;
  background-color: lightcyan;
  border: 3px solid black;
  border-radius: 30px;
  padding: 30px;
}

/* Main Content Styles */
main {
  margin: 10px;
  padding: 10px;
}

section {
  margin-bottom: 20px;
}

/* Input and Button Styles */
#newTask {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 3px;
  width: 70%;
  scrollbar-width: thin;
  scrollbar-color: darkcyan;
}

button {
  padding: 12px 20px;
  background-color: #4cae4c;
  color: white;
  border: solid;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.task-content {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: darkcyan;
  color: lightcyan;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 15px;
  white-space: nowrap;
  flex-grow: 1;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #888;
  font-style: italic;
  font-weight: bold;
}

.button-container {
  display: inline-flex;
  gap: 8px;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: white;

}

.edit-btn:hover {
  background-color: #f0f0f0;
  border-color: #4cae4c;
  transform: scale(1.1);
}

.delete-btn:hover {
  background-color: #f0f0f0;
  border-color: #dc3545;
  transform: scale(1.1);
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 2px solid #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: lightcyan;
  margin-top: 30px;
}

footer blockquote {
  font-style: italic;
  margin: 0;
}